<template>
    <div class="container">
        <h1 class="display-3 text-center"><img src="https://www.medoucine.com/images/logos/logo.svg" width="350"/></h1>

        <form v-on:submit.prevent="checkForm">
            <div class="row mt-5">
                <div class="col-4">
                    <select v-model="form.city" name="city" class="form-control" @change="cityChange($event)" required>
                        <option value="" disabled="disabled">Choisissez une ville</option>
                        <option v-bind:value="city.name" v-html="city.name" v-bind:key="city.name" v-for="city in cities" />
                    </select>
                </div>
                <div class="col-4">
                    <select v-model="form.practice" name="practice" class="form-control" required>
                        <option value="" disabled="disabled">Choisissez une pratique</option>
                        <option v-bind:value="practice" v-html="practice" v-bind:key="practice" v-for="practice in practices" />
                    </select>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Envoyer</button>
                </div>
            </div>
        </form>

        <h1 class="mt-5">Therapistes ({{ Object.keys(this.therapists).length }})</h1>
        <div class="row">
            <div class="card-deck">
                <div class="card" style="width: 18rem;" v-bind:key="therapist.name" v-for="therapist in therapists">
                    <img class="card-img-top" src="http://lorempixel.com/400/200?cat=people" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" v-html="therapist.name" />
                        <h6 class="card-subtitle mb-2 text-muted" v-html="therapist.city" />
                        <p class="card-text" v-html="therapist.description" />
                        <a href="#" class="btn btn-primary">Prendre RDV</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div :id="city.name" class="col" v-bind:key="city.name" v-for="city in cities">
                <h4>{{ city.name }}</h4>
                <ul>
                    <li v-bind:key="city.name + '_' + practice" v-for="practice in city.practices">
                        <a href="#" @click="search(city.name, practice)" v-html="practice" />
                    </li>
                </ul>
            </div>
        </div>

    </div>
</template>

<script>
export default {

   data: function () {
        return {
            cities      : [],
            practices   : [],
            therapists  : [],
            form        : {
                city : "",
                practice : ""
            }
        };
    },

    mounted() {

        var $this = this;
        
        axios.get('/api/cities/practices').then(function (response) {
            $this.cities = response.data
        });
    },

    methods : {

        /**
         * on form submit
         */
        checkForm () {
            this.search(this.form.city, this.form.practice);
        },

        /**
         * on city change
         */
        cityChange (event) {
            this.loadPractices(event.target.value);
        },

        /**
         * load practices with selected city
         */
        loadPractices (city) {
            this.practices = this.cities[city].practices
        },

        /**
         * send search request and get results
         */
        search (city, practice) {

            var $this = this;

            this.loadPractices(city);

            this.form = {
                city : city,
                practice : practice
            };

            axios.post('/api/search', {
                city : city,
                practice : practice
            }).then(function (response) {
                $this.therapists = response.data
            });

        }

    }
}
</script>
